.mapContainer {
    position: relative;
}

.map {
    height: 100vh;
}

.coords {
    position: absolute;
    z-index: 1;
    top: 30px;
    right: 20px;
    color: azure;
    background-color: cadetblue;
    padding: 3px 9px;
    border-radius: 10px;
}
